
}
:8000 {
	@portLocalhost path_regexp port ^/([0-9]+)\/ide
        handle @portLocalhost {
		uri prefix {port.1}/
                proxy localhost:{re.port.1}
        }

	handle {
      
        }

}
